button{
  width: 250px;
  height: 80px;
  border-radius: 20px;
  font-family: Roboto, sans-serif;
  color: white;
  border: 3px solid white;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 15px;
}

button:hover {
  background-color: red;
}

.boton-click {
  background-color: rgb(25, 25, 125);
}

.boton-reiniciar {
  background-color: rgb(25, 25, 125);
}